mvc/MVCEF3Capas/Negocio/Connected Services/ServiceReference1/WCFAlumnos2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFAlumnos2" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFAlumnos2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AportacionesIMSS">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cesantía" type="xs:decimal" />
      <xs:element minOccurs="0" name="EnfermedadMaternidad" type="xs:decimal" />
      <xs:element minOccurs="0" name="Infonavit" type="xs:decimal" />
      <xs:element minOccurs="0" name="InvalidezVida" type="xs:decimal" />
      <xs:element minOccurs="0" name="Retiro" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AportacionesIMSS" nillable="true" type="tns:AportacionesIMSS" />
  <xs:complexType name="ItemTablaISR">
    <xs:sequence>
      <xs:element minOccurs="0" name="CuotaFija" type="xs:decimal" />
      <xs:element minOccurs="0" name="ExedLimInf" type="xs:decimal" />
      <xs:element minOccurs="0" name="LimInf" type="xs:decimal" />
      <xs:element minOccurs="0" name="LimSup" type="xs:decimal" />
      <xs:element minOccurs="0" name="Subsidio" type="xs:decimal" />
      <xs:element minOccurs="0" name="isr" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemTablaISR" nillable="true" type="tns:ItemTablaISR" />
</xs:schema>